<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Current Order</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="current-container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label id="header">${{orderPrice}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label id="subheader">{{orderQuantity}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape="round" (click)="checkout()" *ngIf="!orderEmpty">Place Order</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!orderEmpty">
    <ion-card>  
      <ion-card-content *ngFor="let o of pizzaService.currentOrder.pizza; let i = index" (click)="deletePizza(i)">
        <ion-grid>
          <ion-row>
            <ion-col>
              Topping: {{o.topping.name}}
            </ion-col>
            <ion-col>
              Price: ${{o.price}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Size: {{o.size.name}}
            </ion-col>
            <ion-col>
              Quantity: {{o.quantity}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</div>
</ion-content>
