<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pizza App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pizza App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="medium" shape="round" id="main-button" [routerLink]="['/current-order']">Check Current Order</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="medium" shape="round" id="main-button" [routerLink]="['/home']">Update Current Order</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="medium" shape="round" id="main-button" [routerLink]="['/history']">Previous Order</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="medium" shape="round" id="main-button" [routerLink]="['/create-order']">New Order</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
