ion-col > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 10px;
  }

  #history-container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
  }

  #header{
    font-size: xx-large;
}