<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="history-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label id="header">Transaction History</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="!orderEmpty">
      <ion-card>  
        <ion-card-content *ngFor="let h of pizzaService.history.orderCollection">
          <ion-grid>
            <ion-row>
              <ion-col>
                {{h.date}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Cost: ${{h.orderPrice}}
              </ion-col>
              <ion-col>
                Quantity: {{h.orderQuantity}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
